<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books in Stock</h1>
    <table border="0" cellpadding="5" cellspacing="5">
        
    {% for object in object_list %} 
        {% comment %} 
            Access records from model (object_list) one at a time using for loop 
        {% endcomment %}
        <tr>
        <td><img src="{{object.pic.url}}" width="150" height="200" /></td> 
        <td><a href ="{{object.get_absolute_url}}">{% comment %} add links to book names {% endcomment %}
            {{object.name}}</a></td>
        {% comment %}
            "object" refers to one record in the list/model. 
            You can access individual elements (columns) of the model (table) by writing object followed by dot (.) and the attributable name
        {% endcomment %}
        <br>
        </tr>
    {% endfor %}
</table>
</body>
</html>