{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore Home</title>
</head>
<body>
    <h2 style="text-align: center;">Welcome to the bookstore. We got books and games.</h2>
    <br>
    <br>
    <a href = "{% url 'login %}"> Login</a> 
    <br>
    <br>
    <div style="text-align: center;">
        <img src="{% static 'sales/images/bookstore.jpg' %}" alt="home" width="600" height="300">
    </div>
</body>
</html>